<% provide(:title, "Transaction #{@transaction.id}") %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <p>
      <strong>Transaction:</strong>
      <%= @transaction.id %>
    </p>
    <p>
      <strong>New account amount:</strong>
      <%= @transaction.account.total %>
    </p>
    <p>
      <strong>Transaction Amount:</strong>
      <%= @transaction.amount %>
    </p>
    <p>
      <strong>Account Owner</strong>
      <%= @transaction.account.user.name %>
    </p>
    <p>
      <strong>Account Number:</strong>
      <%= @transaction.account.id %>
    </p>

    <p>
      <strong>Type of Transaction:</strong>
      <% if @transaction.deposit %>
        Deposit
      <% else %>
        Withdrawal <br>
        <% @transaction_hash[:bills].each do |bill_type, number_of| %>
          <% if number_of != 0 %>
            <%= number_of %> - <%= bill_type %>  dollar <%= "bill".pluralize(number_of) %> <br>
          <% end %>
        <% end %>
      <% end %>
    </p>

  </div>
</div>
